*{
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    display: inline-block;
}

main {
    padding-left: 40px;
    background-color: white;
    border-color: rgb(205, 199, 199);
    border-width: 10px 50px 2px 50px;
    border-style: solid;
}

.Distanza {
    margin-top: 30px;
}
