*{
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

img {
    height: 50px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    padding-left: 5px;
    padding-bottom: 50px;
    
}

#ButtonT {
    background-color: blue;
    color: white;
    padding: 5px;
    border: grey;
    border-radius: 5px;
    margin-top: 20px;
}

#ButtonS {
    background-color: white;
    color: gray;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

main {
    padding-left: 40px;
    background-color: white;
    border-color: rgb(205, 199, 199);
    border-width: 20px 70px 5px 70px;
    border-style: solid;
}

.Distanza {
    margin-top: 30px;
}

.Bottoneazzurro {
    background-color: rgb(0, 187, 255);
    color: white;
    border-radius: 10px;
    font-size: 10px;
    border: 0;
}

.Bottoneviola {
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    border: 0;
}

.Bottoneverdes {
    background-color: rgb(47, 255, 147);
    color: white;
    border-radius: 10px;
    font-size: 10px;
    border: 0;
}

.Bottonearancione {
    background-color: orange;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    border: 0;
}

.Bottonefucsia {
    background-color: fuchsia;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    border: 0;
}

.Bottoneverdec {
    background-color: greenyellow;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    border: 0;
}