*{
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

img {
    height: 50px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    padding-left: 5px;
    padding-bottom: 50px;
    
}

#ButtonT {
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 7px;
}

#ButtonS {
    background-color: white;
    color: gray;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 7px;
}

main {
    padding-left: 40px;
    background-color: white;
    border-color: rgb(205, 199, 199);
    border-width: 20px 70px 5px 70px;
    border-style: solid;
}

.Distanza {
    margin-top: 30px;
}

.Tiketazzurro {
    font-size: 10px;
    color: white;
    border-color: blue;
    border-style: solid;
    background-color: blue;
    border-radius: 10px;
    padding: 3px;
}

.Tiketviola {
    font-size: 10px;
    color: white;
    border-color: violet;
    border-style: solid;
    background-color: violet;
    border-radius: 10px;
    padding: 3px;
}

.Tiketverdeacqua {
    font-size: 10px;
    color: white;
    border-color: green;
    border-style: solid;
    background-color: green;
    border-radius: 10px;
    padding: 3px;
}

.Tiketarancione {
    font-size: 10px;
    color: white;
    border-color: orange;
    border-style: solid;
    background-color: orange;
    border-radius: 10px;
    padding: 3px;
}

.Tiketfucsia {
    font-size: 10px;
    color: white;
    border-color: fuchsia;
    border-style: solid;
    background-color: fuchsia;
    border-radius: 10px;
    padding: 3px;
}

.Tiketverde {
    font-size: 10px;
    color: white;
    border-color: greenyellow;
    border-style: solid;
    background-color: greenyellow;
    border-radius: 10px;
    padding: 3px;
}

hr {
    top: auto;
}